@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

.hidden {
    display: none !important;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    color: black;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


.banner {
    background-color: #FCF0E4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-top: 20px;
}

.banner-content {
    width: 50%;
}

.banner-title {
    font-size: 50px;
    color: #013D27;
}

.latest-img {
    width: 100%;
    height: 300px;
    background-color: #F6F6F6;
    padding: 15px 20px;
    border-radius: 13px;
}

.latest-img img {
    transition: 0.5s;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    background-color: #013D27;
    color: white;
    padding: 10px 30px;
    margin-bottom: 20px;
}

.latest-img img:hover {
    transform: scale(1.2);
}

#latest-product-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.latest-product {
    width: 100%;
    border-radius: 13px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 50px;
}

.increase-quantity {
    cursor: pointer;
}

.name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.p-name {

    font-size: 22px;
    font-weight: 500;
}

.title {
    padding-top: 10px;
}


.banner-img {
    width: 400px;
}

.banner-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 18px 40px;
    background-color: #013D27;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 40px;
}

.add-cart-btn {
    display: flex;
    justify-self: center;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #013D27;
    color: white;
    border: 1px solid #013D27;
    border-radius: 20px;
}

.add-cart-btn:hover {
    background-color: transparent;
    color: #013D27;
    cursor: pointer;
}

.cart-img {
    width: 80px;
    height: 80px;
    background-color: #F6F6F6;
    border-radius: 9px;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
    padding-top: 30px;
}

.cartPName {
    font-size: 20px;
}

.cPPrice {
    width: 25%;
    display: flex;
    justify-content: center;
}

.name-img {
    display: flex;
    align-items: center;
    width: 25%;
    gap: 10px;
}

.quantity {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}


.total {
    font-size: 23px;
    margin-top: 20px;
}

.delete-ico {
    width: 25%;
    display: flex;
    justify-content: end;
    cursor: pointer;
    /* border: 1px solid red; */
}

#back-btn {
    background-color: #013D27;
    padding: 13px 34px;
    border: 1px solid #013D27;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#back-btn:hover {
    background-color: transparent;
    color: #013D27;
}

.cart {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    cursor: pointer;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.footer-section ul {
    list-style-type: none;
}

.item {
    padding-bottom: 5px;
}

.footer-section .title {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 14px;
}

.company-title {
    padding-top: 14px;
}

.footer-content {
    width: 40%;
}

.footer-link {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 100px;
}






@media (max-width:1270px) {
    #latest-product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}






@media (max-width:975px) {
    #latest-product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .content {
        width: 95%;
    }

    .banner {
        flex-direction: column;
        gap: 50px;
        padding: 15px;
    }

    .banner-content {
        width: 100%;
        text-align: center;
    }

    .banner-btn {
        margin-top: 10px;
    }

    .footer-section {
        flex-direction: column;
        gap: 60px;
    }

    .footer-content {
        width: 100%;
    }

    .footer-link {
        width: 100%;
    }

    .name-img {
        flex-direction: column;
        align-items: start;
    }

    .cPPrice,
    .name-img,
    .quantity,
    .delete-ico {
        width: auto;
    }
}






@media (max-width:600px) {

    .content {
        width: 95%;
    }

    #latest-product-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner {
        flex-direction: column;
        gap: 20px;
    }

    .banner-content {
        width: 100%;
    }

    .banner-title {
        font-size: 30px;
        text-align: center;
    }

    .banner-img {
        width: 300px;
    }

    .latest-product {
        max-width: 380px;
    }

    .banner-btn {
        margin-top: 18px;
    }

    .top-nav {
        padding: 10px 10px;
        font-size: 12px;
    }

    .cart-product {
        flex-direction: column;
        align-items: start;
        gap: 28px;
    }


    .footer-link{
        flex-direction: column;
    }
}